@using K8sManagementApp.Extensions
@using k8s.Models
<!-- UpdateService 视图 -->
@model V1Service

<!-- 渲染 UpdateService 表单 -->
<form class="layui-form" action="/Kubernetes/UpdateService" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="Name" value="@Model.Metadata.Name" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">命名空间</label>
        <div class="layui-input-block">
            <input type="text" name="Namespace" value="@Model.Metadata.NamespaceProperty" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型:</label>
        <div class="layui-input-block">
            <input type="text" name="Type" value="@Model.Spec.Type" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标签:</label>
        <div class="layui-input-block">
            <input type="text" name="LabelSelector" value="@Model.Spec.Selector?.GetString()" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">容器端口</label>
        <div class="layui-input-block">
            <input type="text" name="ContainerPort" value="@Model.Spec.Ports.FirstOrDefault()?.TargetPort.Value" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">更新</button>
        </div>
    </div>
</form> 